<button> </button>

<div class="pdf-container">
  <iframe
    src="storage/Declaración Jurada_Mayor de edad-FloresChamba.pdf"
    class="pdf"></iframe>
</div>

<style>
  .pdf {
    width: 100%;
    min-height: 70vh;
  }
</style>
