---
const pageName = "JfloresXc";
const pages = [
  {
    link: "#projects",
    name: "Mis Proyectos",
  },
  {
    link: "#datos",
    name: "Mis datos",
  },
];
---

<nav class="navbar">
  <li class="navbar__brand-link animate__animated animate__bounce">
    <a href="#hero">{pageName}</a>
  </li>
  <ul class="navbar__links animate__animated animate__bounce">
    {
      pages.map(({ name, link }) => (
        <li class="navbar__link navbar__link-actived">
          <a class="popup__button" href={link}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
  <button type="button" class="navbar__menu">
    <span class="navbar__menu-line navbar__menu-line-1"></span>
    <span class="navbar__menu-line navbar__menu-line-2"></span>
    <span class="navbar__menu-line navbar__menu-line-3"></span>
  </button>
</nav>

<script>
  // window.addEventListener("scroll", (e) => {
  //   const navbar: any = document.querySelector(".navbar");
  //   navbar.classList.toggle("sticky", window.scrollY > 0);
  // });

  const navbarMenu: any = document.querySelector(".navbar__menu");
  const navbarLinks: any = document.querySelector(".navbar__links");
  navbarMenu.addEventListener("click", () => {
    navbarMenu.classList.toggle("navbar__menu-open");
    navbarLinks.classList.toggle("navbar__links-show");
  });
</script>

<style>
  .navbar__link,
  .navbar__brand-link {
    list-style: none;
  }

  .navbar__link > a,
  .navbar__brand-link > a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: var(--colors-primary-dark);
    cursor: pointer;
  }

  /*------------------------- HEADER -----------------------------*/
  .navbar {
    position: fixed;
    height: var(--height-navbar);
    width: 100%;
    background: var(--colors-grey-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    padding: 1em var(--padding-width);
    z-index: 100;
  }

  .navbar__links {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }

  .navbar__link:hover {
    opacity: 0.7;
  }

  .navbar__brand-link {
    font-size: 1.5em;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    cursor: pointer;
    border: none;
  }

  .navbar__menu-line {
    width: 30px;
    height: 2px;
    background: var(--colors-primary);

    /* Animation */
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Ayuda a que la animation se quede*/
  }

  /* CONDITION */
  .sticky {
    background: var(--colors-primary);
    color: whitesmoke;
  }

  .sticky a {
    color: whitesmoke;
  }

  .sticky .navbar__links {
    background: var(--colors-primary);
  }

  .sticky .navbar__menu {
    background: transparent;
  }

  .sticky .navbar__menu-line {
    background: var(--colors-light);
  }

  /* MEDIAQUERIES */
  @media screen and (max-width: 1200px) {
    :root {
      --padding-width: 1.5em;
    }
  }

  @media screen and (max-width: 900px) {
    :root {
      --padding-width: 1.5em;
    }

    .navbar__menu {
      display: flex;
    }
    .navbar__brand-link {
      z-index: 1000;
    }

    .navbar__menu .navbar__menu-line-1 {
      animation-name: top-line-animation-close;
    }

    .navbar__menu .navbar__menu-line-2 {
      animation-name: middle-line-animation-close;
    }

    .navbar__menu .navbar__menu-line-3 {
      animation-name: bottom-line-animation-close;
    }

    .navbar__links {
      position: absolute;
      bottom: 100px;
      right: 0px;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      background: var(--colors-grey-100);
      opacity: 0;
      transition: 1s ease bottom, 0.5s ease opacity;
    }

    .navbar__link {
      padding-bottom: 1em;
      margin: 1em;
      flex: 1;
    }

    /* MODIFIERS */
    .navbar__links-show {
      display: flex;
      bottom: -100px;
      opacity: 1;
      transition: 1s ease bottom, 0.5s ease opacity;
    }

    .navbar__menu-open .navbar__menu-line-1 {
      animation-name: top-line-animation;
    }

    .navbar__menu-open .navbar__menu-line-2 {
      animation-name: middle-line-animation;
    }

    .navbar__menu-open .navbar__menu-line-3 {
      animation-name: bottom-line-animation;
    }

    /* FRAMES */
    @keyframes top-line-animation {
      50%,
      100% {
        transform: translateY(9px) rotate(-45deg);
      }
    }
    @keyframes middle-line-animation {
      20%,
      100% {
        opacity: 0;
      }
    }

    @keyframes bottom-line-animation {
      50%,
      100% {
        transform: translateY(-9px) rotate(45deg);
      }
    }

    @keyframes top-line-animation-close {
      0% {
        transform: translateY(9px) rotate(-45deg);
      }
      50% {
        transform: translateY(0px) rotate(0deg);
      }
    }

    @keyframes middle-line-animation-close {
      0% {
        opacity: 0;
      }
      20%,
      100% {
        opacity: 1;
      }
    }

    @keyframes bottom-line-animation-close {
      0% {
        transform: translateY(-9px) rotate(45deg);
      }
      50%,
      100% {
        transform: translateY(0px) rotate(0deg);
      }
    }

    @keyframes navbar-animation-show {
      0% {
        transform: translateY(50px);
      }
      50%,
      100% {
        transform: translateY(0px) rotate(0deg);
      }
    }
  }
</style>
